{% extends 'base.html' %}
{% block content %}
<h1>{{ restaurant.name }}</h1>
<div class="rest-info">
    <img src="{{ restaurant.img }}" class="show-img">
    <div class="rest-detail">
        <p>Address: {{ restaurant.address }}</p>
        <p>Phone Number: {{ restaurant.phone }}</p>
        <p>Cuisine: {{ restaurant.cuisine }}</p>
        <a href="{{ restaurant.desc }}">{{ restaurant.name }}'s Website</a>
    </div>
</div>

<div class="flex-container">
    {% for item in restaurant.menuitem_set.all %}
    <a href="{% url 'menuitems_detail' restaurant_id=restaurant.id pk=item.id %}">
        <div>
            <p>{{ item.name }}</p>
            <img src="{{ item.img }}" class="index-img">
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}