{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>Impasta</title>
</head>
<body>
    <nav>
        <a href="/" class="align-left"><img src="https://i.imgur.com/zNXcbpI.png" alt="impasta"></a>
        <a href="/">Search</a>
        <a href="{% url 'restaurants_index' %}">Restaurants</a>
    {% if user.is_authenticated %}
        <a href="/Recipes">Add Recipe</a>
        <a href="{% url 'logout' %}">Log Out</a>
    {% else %}
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Sign In</a>
    {% endif %}
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>