{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Impasta</title>
</head>
<body>
    <nav>
        <a href="/">Search</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/Recipes">Recipes</a>
        <a href="/login">Sign In</a>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>