{% extends 'base.html' %}
{% block content %}

<h1>Featured Restaurants</h1>
<ul class="horiz-container">
    {% for restaurant in restaurants %}
    <a href="{% url 'restaurants_detail' restaurant.id %}">
        <!-- fix the css because of this anchor tag, add links once we have restaurant show page -->
        <div class="rest-container">
            <div class="empty-container"></div>
            <img src="{{ restaurant.img }}" alt="{{ restaurant.name }}">
            <li>{{ restaurant.name }}</li>
        </div>
    </a>
    {% endfor %}
</ul>

<h1>Featured Restaurants</h1>
<ul class="horiz-container">
    {% for restaurant in restaurants %}
    <div class="rest-container">
        <img src="{{ restaurant.img }}" alt="{{ restaurant.name }}">
        <li>{{ restaurant.name }}</li>
    </div>
    {% endfor %}
</ul>

{% endblock %}