{% extends 'base.html' %}
{% block content %}

<div id="welcome-page">
    <h1 id="welcome-msg">Welcome to Impasta</h1>
    <div class="home-info">
        <h4>"We aim to satisfy your restaurant cravings...</h4>
        <img class="icon" src="https://i.imgur.com/PZUAvcu.png">
        <h4>...whether you're goin' out or stayin' in"</h4>
    </div>
</div>
<h1>Featured Restaurants</h1>
<ul class="horiz-container">
    {% for restaurant in restaurants %}
    <a href="{% url 'restaurants_detail' restaurant.id %}">
        <div class="rest-container">
            <div class="empty-container"></div>
            <img src="{{ restaurant.img }}" class="index-img" alt="{{ restaurant.name }}">
            <li>{{ restaurant.name }}</li>
        </div>
    </a>
    {% endfor %}
</ul>

<h1>Featured Recipes</h1>
<ul class="horiz-container">
    {% for recipe in recipes %}
        <a href="{% url 'recipes_detail' recipe.id %}">
            <div class="rest-container">
                <div class="empty-container"></div>
                <img src="{{ recipe.img }}" class="index-img" alt="{{ recipe.name }}">
                <li>{{ recipe.name }}</li>
            </div>
        </a>
    {% endfor %}
</ul>

{% endblock %}