body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
}

nav {
    background-color: rgb(219, 184, 137);
    display:flex;
    justify-content: end;
    align-items: center;
    font-size: 3vmin;
    height:7vh;
}

nav > * {
    margin:0 1vw;
    font-size:2.2vmin;
    padding:0.3vmin;
    border-radius: 0.3vmin;
}

nav > *:hover {
    background-color: rgb(249, 216, 97);
}

a {
    text-decoration: none;
    color:black;
}

.align-left > img {
    width: 200px;
}

.small-img {
    width:6vw;
    height:6vw;
    object-fit: cover;
    overflow: hidden;
}

.index-img {
    width:20vh;
    height:20vh;
    object-fit: cover;
    overflow: hidden;
}

.show-img {
    width:25vw;
    height:25vw;
    object-fit: cover;
    overflow: hidden;
}



h1 {
    text-align: center;
}

.horiz-container {
    height:25vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    box-shadow: rgba(100, 100, 111, 0.33) 0px 7px 29px 0px;
    background-color: rgb(244, 234, 220);

}

.rest-container {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.rest-container > img {
    border-radius: 10px
}

.align-left {
    margin-right: auto;
}

.rest-info {
    width: 50wv;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: auto;
    display: block;
    height: 17.5vh;
    width: 20vw;
}

.home-info {
    height:19.5vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-bottom: 1vh;
}

.home-info > * {
    width: 20vw;
    margin: 0;
    text-align: center;
    font-size: 3vmin;
}

#welcome-page {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 234, 220);
    box-shadow: rgba(100, 100, 111, 0.33) 0px 7px 29px 0px;
}

#welcome-msg {
    font-size: 4vmin;
}

.star {
    width:10vw;
    height:2.5vh;
    margin-right:-0.5vw;
}